beautifulsoup4==4.10.0
ollama==0.4.5
openai==1.59.3
pymilvus==2.5.3
redis==5.2.1
pillow==11.1.0
nltk==3.8.1
httplib2==0.19.1
kafka_python==2.0.2
python-dateutil==2.8.2
requests==2.32.2
scrapy==2.5.0
simplejson==3.17.5
twisted==21.7.0
netifaces==0.11.0
pyyaml==6.0.2
boto3==1.35.98
psycopg==3.1.10
pymongo==4.4.1
minio==7.1.16
auth0-python==4.6.0
langdetect==1.0.9
plotly==5.19.0
joblib==1.4.2
lightgbm==4.5.0
feedparser==6.0.11
numpy==1.26.4
scikit-learn==1.5.2
langchain==0.3.14
langchain-ollama==0.2.2
langchain-openai==0.2.14
langchain-anthropic==0.3.1
langchain-together==0.2.0
langchain-postgres==0.0.12
langchain-milvus==0.1.7
bcrypt==4.2.1
chevron==0.14.0
chess==1.11.1
